# This ignores all the massive temporary Unity files
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Mm]emoryCaptures/

# Ignore Visual Studio / VS Code cache
.vs/
.idea/
*.csproj
*.sln